@model JobOfferCreateViewModel

@{
    ViewData["Title"] = "Create offer";
}

<div class="row row-box">
    <div class="col-md-12">
        <h2>Create new job offer:</h2>

        <form asp-action="Create" method="post" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger" />
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" required />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <select asp-for="CompanyId" asp-items="@(new SelectList(Model.Companies, "Id", "Name"))" class="form-control" required>
                    <option disabled selected hidden value="">Select a company...</option>
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryFrom" class="control-label">Salary</label>
                <div class="input-group">
                    <span class="input-group-addon">PLN</span>
                    <input asp-for="SalaryFrom" id="salaryFrom" class="form-control" placeholder="From" min="0"/>
                </div>
                <span asp-validation-for="SalaryFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryTo" class="control-label">Salary</label>
                <div class="input-group">
                    <span class="input-group-addon">PLN</span>
                    <input asp-for="SalaryTo" id="salaryTo" class="form-control" placeholder="To" min="0"/>
                </div>
                <span asp-validation-for="SalaryTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidUntil" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="ValidUntil" class="form-control" type="date" date />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="ValidUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"
                          placeholder="Enter description (min. 100 characters)" required minlength="100"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>
        $("#createForm").validate({
            rules: {
                salaryFrom: {
                    min: 0
                },
                salaryTo: {
                    min: 0
                }
            }
        });
    </script>
}