@{
    ViewBag.Title = "Access Denied";
}

<h2>@ViewBag.Title</h2>

<div class="form-group">
    Sorry, but you don't have access to that page (Insufficient permissions or couldn't reach authorization server)
</div>