@model JobApplicationCreateViewModel

@{
    ViewData["Title"] = "Apply";
}

<div class="row page-box">
    <div class="col-md-12">
        <h2>Apply for <span class="text-primary">@Model.Offer.JobTitle</span></h2>
        <form asp-action="Add" method="post" id="addForm" enctype="multipart/form-data" >
            <input asp-for="OfferId" type="hidden" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" required email />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" required phonePL />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CvFile" class="control-label"></label>
                <input asp-for="CvFile" class="form-control" />
                <span asp-validation-for="CvFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAgreement" class="control-label"></label>
                <div class="checkbox">
                    <label for="agreementCheckbox">
                        <input asp-for="ContactAgreement" id="agreementCheckbox" required />
                        I agree to receive information regarding this job application
                    </label>
                </div>
                <span asp-validation-for="ContactAgreement" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="https://raw.githubusercontent.com/jquery-validation/jquery-validation/master/src/additional/phonePL.js"></script>
    <script>
        $("#addForm").validate();
    </script>
}