@model JobApplication

@{
    ViewData["Title"] = "Apply";
}

<div class="row page-box">
    <div class="col-md-12">
        <h2>Apply for <span class="text-primary">@Model.Offer.JobTitle</span></h2>
        <form asp-action="Add" method="post">
            <input asp-for="OfferId" type="hidden" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CvUrl" class="control-label"></label>
                <input asp-for="CvUrl" class="form-control" />
                <span asp-validation-for="CvUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAgreement" class="control-label"></label>
                <div class="checkbox">
                    <label for="agreementCheckbox">
                        <input asp-for="ContactAgreement" id="agreementCheckbox" />
                        I agree to receive information regarding this job application
                    </label>
                </div>
                <span asp-validation-for="ContactAgreement" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
    </div>
</div>

